{% extends "auctions/layout.html" %}
{% load static %}
    {% block css %}
        <link href="{% static 'auctions/index_listing.css' %}" rel="stylesheet">
    {% endblock %}

{% block body %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    <h2 style="text-align: center;">Active Listings</h2>
        <div class="row">
            {% for list in page_obj %}
            
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="{% url 'listing' list.id %}" class="image">
                            {% if list.image_url %}
                            <img  src="{{ list.image_url }}">
                            {% else %}
                                <img src="{% static 'auctions/no-image-available.png' %}">
                            {% endif %}
                        </a>
                    
                        <ul class="product-links">
                            <li><a href="{% url 'add_remove_to_watchlist_index' list.id %}"><i class="far fa-heart"></i></a></li>
                        </ul>
                        
                    </div>
                    <div class="product-content">
                        
                        <h3 class="title"><a href="#">{{ list.title }}</a></h3>
                        
                        <div class="price">${{ list.starting_bid }}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link"  href="?page=1">&laquo; First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link"   href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}  

                <li class="page-link">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                    </li>
                {% endif %}
              
            </ul>
        </nav>
      
{% endblock %}