{% extends "auctions/layout.html" %}
{% load static %}
    {% block css %}
        <link href="{% static 'auctions/listing.css' %}" rel="stylesheet">
    {% endblock %}

{% block body %}

{% for message in messages %}
        <div class="modal fade" id="exampleModalCenter"  tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
            
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    {{ message }}
                </div>
               
            </div>
            </div>
        </div> 
{% endfor %}
{% if winner %}
<div class="alert alert-info" role="alert">
    {% if winner.username == request.user.username %}
    You are the winner of this listing.
    {% else %}
    The winner of this listing is {{ winner.user }}
    {% endif %}
</div>
{% endif %}
<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="col-md-6">
                    
                    <div class="tab-content">
                        {% if listing.image_url %}
                            <div class="tab-pane active" id="pic-1"><img src="{{ listing.image_url }}" /></div>
                        {% else %}
                            <div class="tab-pane active" id="pic-1"><img src="{% static 'auctions/no-image-available.png' %}" /></div>
                        {% endif %}
                    </div>
                    
                    
                </div>
                <div class="details col-md-6">
                    <h3 class="product-title">{{ listing.title }}</h3>
                    
                    <p class="product-description">{{ listing.description }}</p>
                    <h4 class="price">Price: <span>${{ listing.starting_bid }}</span></h4>
                    <h4 class="price">Highest Bid: {% if highest_bids %}<span>${{ highest_bids }}</span>{% else %}<span>No Bid Placed</span>{% endif %}</h4>
                    {% if bids_count > 0 %}
                    <p class="vote"><strong>{{ bids_count }}</strong> bids has been placed on this listing!</p>
                    {% endif %}
                    {% if winner == None %}
                    <div class="action">
                        <button class="add-to-cart btn btn-default" type="button" data-toggle="collapse" data-target="#bidForm" aria-expanded="false" aria-controls="collapseExample">Place Bid</button>
                        {% if watchlist %}
                        <a href="{% url 'add_remove_to_watchlist' listing.id %}"class="like btn btn-default" type="button"><span><i class="fas fa-heart"></i></span></a>
                        {% else %}
                        <a href="{% url 'add_remove_to_watchlist' listing.id %}"class="like btn btn-default" type="button"><span class="far fa-heart"></span></a>
                        {% endif %}
                    </div>
                    
                    <div class="collapse" id="bidForm">
                        <div class="card card-body">
                            <form class="form-inline" action="{% url 'listing' listing.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    {{ form.bid.errors }}
                                  <label class="sr-only">Bid</label>
                                    {{ form.bid }}
                                </div>
                                <button type="submit" class="btn btn-primary">Confirm Bid</button>
                              </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="d-flex flex-column col-md-8">
        
            <div class="coment-bottom bg-white p-2 px-4">
                <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                    <form action="{% url "add_comment" %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ listing.id }}" name="listing_id"/>
                        
                        <div class="form-group">
                          {{ commentForm.comment.errors }}
                            
                          {{ commentForm.comment }}
                        </div>
                        <div class="form-group"> 
                            <button type="submit" class="btn btn-primary float-right">Comment</button>
                        </div>
                      </form>
                </div>
                
                {% for comment in comments %}
                <div class="commented-section mt-2">
                    
                    <div class="d-flex flex-row align-items-center commented-user">
                        <h5 class="mr-2">{{ comment.user}}</h5><span class="dot mb-1"></span><span class="mb-1 ml-2">{{ comment.commented_time }}</span>
                    </div>
                    <div class="comment-text-sm"><span>{{ comment.comment }}</span></div>
                    
                    
                    
                </div>
                <hr style="background-color: black;">
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script type="application/javascript">
            $(document).ready(function(){
                $('#exampleModalCenter').modal({show:true});
            });
    </script>
{% endblock %}