{% extends "auctions/layout.html" %}
{% load static %}
{% block body %}
    <h2 style="text-align: center;">Your Listings</h2>

    {% for list in page_obj %}
        <div class="d-flex justify-content-center row">
            <div class="col-md-10">
                <div class="row p-2 bg-white border rounded">
                    <div class="col-md-3 mt-1">
                        
                        <a href="{% url 'listing' list.id%}">
                            {% if list.image_url %}
                            <img href="{% url 'listing' list.id%}" class="img-fluid img-responsive rounded product-image" src="{{ list.image_url }}">
                            {% else %}
                            <img  class="img-fluid img-responsive rounded product-image" src="{% static 'auctions/no-image-available.png' %}">
                            {% endif %}
                        </a>
                        
                        
                        
                    </div>
                    <div class="col-md-6 mt-1">
                        <h5>Title: {{ list.title }}</h5>
                        <p class="text-justify text-truncate para mb-0">Description: {{ list.description }}</p>
                        <p class="text-justify text-truncate para mb-0">Category: {{ list.category }}</p>
                    </div>
                    <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                        <div class="d-flex flex-row align-items-center">
                            <h5 class="strike-text">Starting Bid: ${{ list.starting_bid }}</h5><br>
                            <h5 class="strike-text">Highest Bid: ${{ list.highest_bid }}</h5>
                        </div>
                        {% if list.status_of_listing %}
                        <div class="d-flex flex-column mt-4"><a href="{% url 'remove_listing' list.id %}"class="btn btn-outline-danger btn-sm mt-2" type="button">Close Listing</a></div>
                        {% else %}
                        <h5 class="strike-text">Listing is no longer active. Highest Bid was ${{ list.highest_bid }}</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
    {% endfor %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link"  href="?page=1">&laquo; First</a>
                </li>
                <li class="page-item">
                    <a class="page-link"   href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}  

            <li class="page-link">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </li>

            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
                </li>
            {% endif %}
          
        </ul>
    </nav>
{% endblock %}